@import url("https://fonts.googleapis.com/css2?family=Akshar&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Akshar", sans-serif;
}
body {
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
  background-color: #85ffbd;
}

.avatar {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar-img {
  width: 140px;
  height: auto;
  margin: 0.5rem;
}
.h1-div {
  width: 100vw;
  height: auto;
}
.h1-text {
  margin: 0.7rem;
  font-size: 2rem;
  text-align: center;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button {
    margin: 1rem;
    background-color: rgb(192, 192, 192);
    padding: 0.7rem 2rem;
    background-image: linear-gradient(
        to right,
        #7474bf 0%,
    #348ac7 51%,
    #7474bf 100%
  );
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 7px;
  transition: transform 0.4s;
  width: 40%;
}
@media screen and (max-width: 850px) {
    .button{
        width: 80%;
    }
} 
.button:hover {
  transform: scaleX(1.05);
  display: block;
  background-position: right center; /* change the direction of the change here */
  color: #fff;
}
.button-text {
    color: #fff ;
    text-decoration: none;
    display: block;
    text-align: center;
  font-size: 1.2rem;
}
footer{
  margin-top: 2rem;
  padding: 1rem;
  background-color: #242424;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.txt{
  text-align: center;
  color: #fff;
  font-size: 1.7rem;
}
.logos{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.logos img{
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 35px;
}